    .main-container {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 150%;
      padding: 14px 35px 59px;
    }
  
    @media (max-width: 991px) {
      .main-container {
        padding: 0 20px;
      }
    }
  
    .header {
      align-self: stretch;
      display: flex;
      gap: 20px;
    }
  
    @media (max-width: 991px) {
      .header {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
  
    .logo {
      color: #c050dc;
      text-align: left;
      letter-spacing: -0.64px;
      align-self: start;
      flex-grow: 1;
      margin: 18px auto 0 0;
      font: 600 64px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .logo {
        font-size: 40px;
      }
    }
  
    .new-search-btn {
      display: flex;
      justify-content: center;
      border-radius: 8px;
      background-color: #000;
      color: #fff;
      padding: 20px 9px;
      font: 700 24px Inter, sans-serif;
    }
  
    .title {
      color: #000;
      text-align: center;
      letter-spacing: -0.24px;
      margin-top: 9px;
      font: 600 24px Inter, sans-serif;
    }
  
    .content-wrapper {
      display: flex;
      flex-direction: column;
      stroke-width: 6px;
      stroke: #a59f9d;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      overflow: hidden;
      border: 6px solid rgba(165, 159, 157, 1);
      position: relative;
      min-height: 516px;
      margin-top: 8px;
      width: 1001px;
      max-width: 100%;
      font-size: 16px;
      color: var(--light-theme-rest-foreground-default-foreground-1424242, #424242);
      font-weight: 500;
      line-height: 106%;
      padding: 80px 37px 28px;
    }
  
    @media (max-width: 991px) {
      .content-wrapper {
        padding: 0 20px;
      }
    }
  
    .image {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    .message-box {
      position: relative;
      border-radius: 6.743px;
      box-shadow: 0px 0.129px 0.386px 0px rgba(0, 0, 0, 0.11), 0px 0.687px 1.545px 0px rgba(0, 0, 0, 0.13);
      border: 1px solid rgba(2, 4, 15, 1);
      background-color: var(--Light-theme-Rest-Background-Default-Background, #fff);
      display: flex;
      margin-top: 340px;
      gap: 20px;
      padding: 17px 21px;
    }
  
    @media (max-width: 991px) {
      .message-box {
        max-width: 100%;
        margin-top: 40px;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
  
    .message-input {
      font-family: Montserrat, sans-serif;
      flex-grow: 1;
      margin: auto 0;
    }
  
    .send-icon {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 34px;
    }
  
    .note {
      color: #000;
      text-align: center;
      letter-spacing: -0.24px;
      margin-top: 60px;
      font: 600 24px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .note {
        margin-top: 40px;
      }
    }
  
    .review-channels {
      display: flex;
      margin-top: 36px;
      width: 100%;
      max-width: 1223px;
      gap: 20px;
      font-size: 24px;
      color: #fff;
      font-weight: 700;
      white-space: nowrap;
      justify-content: space-between;
    }
  
    @media (max-width: 991px) {
      .review-channels {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
  
    .channel-button {
      font-family: Inter, sans-serif;
      display: flex;
      justify-content: center;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 26px 16px;
    }
  
    .tiktok {
      background-color: #000;
      color: #fff;
      padding: 20px 9px;
      font: 700 24px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .tiktok {
        padding: 0 28px;
      }
    }
  
    .youtube {
      background-color: #e71414;
      color: #fff;
      padding: 20px 9px;
      font: 700 24px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .youtube {
        padding: 0 20px;
      }
    }
  
    .amazon {
      background-color: #24416d;
      color: #fff;
      padding: 20px 9px;
      font: 700 24px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .amazon {
        padding: 0 20px;
      }
    }
  
    .reddit {
      background-color: #ff511b;
      color: #fff;
      padding: 20px 9px;
      font: 700 24px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .reddit {
        padding: 0 28px 0 29px;
      }
    }
  